.sideDrawer {
  background-color: #fff;
  box-sizing: border-box;
  height: 100%;
  left: 0;
  overflow: scroll;
  padding: 0;
  position: fixed;
  max-width: 400px;
  top: 0;
  transition: transform 0.3s ease-out;
  width: 90%;
  z-index: 200;

  .sideDrawerWrap {
    height: 100%;
    max-height: 750px;
    position: relative;

    @media screen and (min-width: 700px) {
      height: 650px;
    }
  
    .sideDrawerTop {
      padding: 9.5px;
      text-align: right;
  
      img {
        height: 28px;
        width: 28px;
      }
    }
  
    ul {
      list-style: none;
      margin: 0 0 15px 0;
      padding: 0;
  
      li {
        font-size: 16px;
        padding: 5px 0;
  
        a {
          color: #000;
          font-size: 18px;
          text-decoration: none;
        }
      }
    }
  
    .sideDrawerNav {
      color: #000;
      overflow: scroll;
    }
  
    .sideDrawerFeature {
      background: #EFEFEF;
      bottom: 0;
      display: flex;
      padding: 1.5em 0;
      position: absolute;
      width: 100%;

      .oneSide {
        padding: 0 1.5em;
      }
  
      img {
        height: 129px;
        width: 129px;
      }
    }
  }
}

@media (min-width: 969px) {
  .sideDrawer {
    display: none;
  }
}

.open {
  transform: translateX(0);
}

.close {
  transform: translateX(-100%);
}
