.hero {  
  .slide {
    background-size: cover;
    background-position: top right;
    background-repeat: no-repeat;
    display: flex !important;
    flex-direction: column;
    min-height: 638px;
    height: 53vh;
    justify-content: center;
    width: 50%;

    .sliderContent {
      display: flex;
      flex-flow: column wrap;
      align-content: center;
      width: 50%;

      .description {
        margin: 0.8rem 0;
      }

      button {
        align-self: flex-start;
        position: relative;
        z-index: 1;
      }
    }
  }
  
  .slide1 {
    background-image: url(../assets/images/hero-slide-1.svg);
    color: #10504F;
  }
  
  .slide2 {
    background-image: url(../assets/images/hero-slide-2.jpeg);
    color: #fff;
  }
  
  .slide3 {
    background-image: url(../assets/images/hero-slide-3.svg);
    color: #fff;
  }
  
  .heading {
    h1 {
      font-size: 60px;
      font-weight: 400;
      margin: 0;
    }
  }

  .content {
    font-size: 26px;
    text-align: left;
  }
}

.categories {
  display: flex;
  flex-flow: row wrap;
  flex: 1 0 26%;
  justify-content: center;
  padding: 2rem;

  .categoryCard {
    background: #10504F;
    margin-right: 20px;
    flex-basis: 30%;
    max-width: 435px;
    // width: 100%;

    &:last-child {
      margin-right: 0;
    }

    img {
      width: 100%;
    }

    .categoryTitle {
      padding: 1.3rem 0;

      a {
        color: #fff;
        font-family: 'Pacifico', sans-serif;
        font-size: 40px;
        text-align: center;
        text-decoration: none;
      }
    }
  }
}

.newArrivals {
  padding: 4rem;

  .slick-slider button {
    position: absolute;
  }

  h2 {
    font-size: 60px;
    font-weight: 400;
  }

  img {
    width: 100%;
  }

  .productTitle {

    a {
      color: #000;
      font-size: 22px;
      margin: 1rem 0rem 0.45rem;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .productCat {
    font-size: 16px;
    font-weight: 300;
    margin: 0;
  }

  .productPrice {
    font-family: 'Pacifico', sans-serif;
    font-size: 26px;
    margin: 0;
  }
}

.favTees {
  background: url('../assets/images/fave-tees.svg');
  background-size: cover;
  color: #fff;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  min-height: 55vh;

  .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    max-width: 1440px;
    width: 100%;

    .favTeesContent {
      align-self: flex-start;
      display: flex;
      flex-flow: column wrap;
      padding: 3rem 2rem 0;
      max-width: 465px;
      width: 100%;
  
      h2 {
        font-size: 60px;
        font-weight: 400;
        margin: 0;
        text-align: left;
      }
    
      p {
        font-size: 26px;
        margin: 0 0 2rem;
        text-align: left;
      }
    }
  }
}

.followUs {
  display: flex;
  flex-flow: column wrap;
  padding: 4rem;

  h2 {
    font-size: 60px;
    font-weight: 400;
    margin: 0 0 1.5rem 0;
  }

  .instaPhotos {
    display: flex;
    flex-flow: row wrap;
    flex: 1 0;
    flex-basis: 20%;
    justify-content: center;
    justify-items: center;
    width: 100%;

    .instaPhoto {
      flex-basis: 17%;
      margin: 0.8rem;
      max-width: 248px;

      img {
        width: 100%;;
      }
    }
  }
}

.signUp {
  background: #10504F;
  color: #fff;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 6rem;

  .container {
    display: flex;
    flex-flow: column wrap;
    max-width: 1440px;
    margin: auto;

    .emailIcon {
      display: inline;
    }
  
    .signUpHeading {
      font-size: 40px;
      margin-top: 0;
      width: 100%;
    }

    .sideBySide {
      display: flex;

      .signUpCopy {
        font-size: 22px;
        margin-right: 1rem;
        text-align: left;
        width: 50%;
      }
    
      .signUpForm {
        width: 50%;
    
        form {
          display: flex;
    
          .input {
            height: 38px;
            border-radius: 0;
            border: none;
            font-family: 'Lato', sans-serif;
            font-size: 22px;
            margin-right: 13px;
            padding: 0.5rem;
            width: 100%;
      
            &::placeholder {
              color: #c6c6c6;
              font-family: 'Lato', sans-serif;
              font-size: 22px;
              line-height: 22px;
            }
          }
      
          .submit {
            background:#10504F;
            border: 1px solid #fff;
            border-radius: 0;
            color: #fff;
            font-family: 'Lato', sans-serif;
            font-size: 14px;
            font-weight: bold;
            height: 54px;
            padding: 0.4rem;
            text-transform: uppercase;
            width: 140px;
          } 
        }
      }
    }
  }
}