.footer {
  background: #000;
  color: #fff;
  padding: 2rem;
  width: 100%;

  .footerHeading {
    font-size: 22px;
    margin-bottom: 0.9rem;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      font-size: 18px;
      margin-bottom: 0.9rem;;
    }
  }

  .company {
    margin-left: 5.75rem;
  }

  .followUs {
    margin-left: auto;

    .social {
      margin-right: 2.9rem;
  
      &:last-child {
        margin: 0;
      }
    }
  }
}