$browser-context: 16;

@function em($pixels, $context: $browser-context) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1em;
}

.mainNav {
  align-self: flex-end;
  display: flex;
  height: 6em;
  align-items: flex-end;

  ul {
    margin: 0;
    padding: 0;

    li {
      display: inline-flex;
      font-size: em(20px);
      padding: 0 2em 1.7em 2em;
      text-align: center;
      text-transform: uppercase;

      a {
        align-self: flex-end;
        color: #fff;
        padding-bottom: 8px;
        text-decoration: none;
      }

      &:hover {
        a {
          padding-bottom: 6px;
          border-bottom: 2px solid #fff;  
        }

        .subMenu {
          display: flex;
        } 
      }

      .subMenu {
        background: #fff;
        color: #000;
        display: none;
        left: 15%;
        max-width: 972px;
        position: absolute;
        text-align: left;
        top: 197px;
        width: 100%;
        z-index: 1;

        .subLeft {
          background-color: #efefef;
          padding: 20px;
          width: 55%;
        }

        .subRight {
          width: 40%;
        }

        li {
          color: #000;
          display: inline-block;
          padding: 0 1rem;
          text-align: left;

          a {
            color: #000;
          }
        }
      }
    }
  }
}