@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pacifico:regular,bold,light,italic&subset=latin,latin-ext');

body, button {
  font-family: 'Lato';
}

h1, h2, h3, h4, h5 {
  font-family: 'Pacifico';
}

main {
  display: flex;
  width: 100%;
}

.App {
  width: 100%;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.container {
  display: flex;
  align-content: center;
  justify-content: space-around;
  max-width: 1440px;
  margin: auto;
}

.slick-prev {
  background-image: url('./assets/images/left-arrow.svg') !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  height: 42px !important;
  width: 23px !important;
  z-index: 1;
}

.slick-next {
  /* background-color: #000 !important; */
  background-image: url('./assets/images/right-arrow.svg') !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  height: 42px !important;
  width: 23px !important;
  z-index: 1;
}

.slick-next:before, .slick-prev:before {
  content: '' !important;
}

.slick-slide img {
  margin: auto;
}
