@import url('https://fonts.googleapis.com/css?family=Lato:regular,bold,italic&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Pacifico:regular,bold,italic&subset=latin,latin-ext');

body, button {
  font-family: 'Lato';
}

h1, h2, h3, h4, h5 {
  font-family: 'Pacifico';
}

main {
  display: flex;
  width: 100%;
}

.App {
  width: 100%;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.container {
  display: flex;
  align-content: center;
  justify-content: space-around;
  max-width: 1440px;
  margin: auto;
}

.slick-prev {
  background-image: url('./assets/images/left-arrow.svg') !important;
  background-color: #000 !important;
  left: 0 !important;
  z-index: 1;
}  